<?xml version="1.0" encoding="UTF-8"?>

<taglib xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-jsptaglibrary_2_1.xsd"
        version="2.1">

    <tlib-version>1.0</tlib-version>
    <short-name>ctag</short-name>
    <uri>customtag</uri>

    <!-- Invoke 'Generate' action to add tags or functions -->
    <tag>
        <name>greeting</name>
        <tag-class>com.hutsko.fitnesscentre.tag.GreetingTag</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>user</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>

</taglib>
