.navbar .navbar-inverse{
}
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
main{
    margin-bottom: 60px;
    /*background-color: black;*/
}
body div.span4 {
    text-align: center;
    width: 228px;
}
div.row {
margin-right: auto;
    margin-left: auto;
}
[class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 20px;
}
@media (min-width: 1200px ) {
    body div.span4 {
        width: 370px;
    }
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}
.carousel{
}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body .container {
    /*padding-top: 60px;*/
    width: 100%;
}
p .btn {
    /*display: inline-block;*/
    /*padding: 4px 14px;*/
    color: #333333;
    /*background-color: #f5f5f5;*/
    border: 1px solid #bbbbbb;
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
}
/*.item{*/
    /*margin: 0px -15px;*/
/*}*/
/*.footer > .container {*/
    /*padding-right: 15px;*/
    /*padding-left: 15px;*/
/*}*/

/*code {*/
    /*font-size: 80%;*/
/*}*/

/*input:valid {*/
    /*background-color: green;*/
/*}*/
/*input:invalid{*/
    /*background-color: palevioletred;*/
/*}*/
